.gems {
  .playground {
    width: 100%;
    display: flex;
    flex-flow: wrap-reverse;
    
    .btn {
      font-weight: 500;
      font-size: 14px;
      min-height: 40px;
      min-width: auto;
      background-image: url(/gems_btn.png) !important;
      background-repeat: repeat;
      border: 2px solid #F5F5F5;
      transition: .1s all ease;
      &:hover {
        font-size: 16px;
      }
      
    }
  }
}


.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.not-allowed {
  cursor: not-allowed;
  pointer-events: none;
}