.gems {
  .playground {
    width: 100%;
    display: flex;
    flex-flow: wrap-reverse;

    .btn {
      font-weight: 500;
      font-size: 14px;
      min-height: 40px;
      min-width: auto;
      background-image: url(/gems_btn.png) !important;
      background-repeat: repeat;
      border: 2px solid #F5F5F5;
      transition: .1s all ease;

      &:hover {
        font-size: 16px;
      }

    }
  }
}

.mines {
  .btn {
    &.tile {
      min-width: 100%;
      min-height: 0;
      padding-bottom: 91.75%;
      margin-bottom: -3px;
      background-color: transparent;
      position: relative;
      overflow: hidden;

      &.showed {
        .tile-back {
          opacity: 1;
          z-index: 3;
        }

        img {
          transform: scale(1);
        }
      }

      &.checked {
        .tile-front {
          background: #8bc34a !important;
          box-shadow: 0 2px #4caf50;
          border: 1px solid #4caf50;
        }

        .tile-back {
          border: 2px solid #4caf50;
        }
      }

      &.auto {
        img {
          animation: scaleImg 1s ease-in-out infinite;
          animation-delay: 1s;
        }
      }

      .tile-front,
      .tile-back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }

      .tile-front {
        background-color: #00BCD4;
        z-index: 2;

        &:hover {
          background-color: darken(#00BCD4, 5%);
        }
      }

      .tile-back {
        background-color: #EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: 1;
      }

      img {
        transform: scale(0);
        transition: .3s all ease;
      }
    }
  }
}

.roulette {
  &-history {
    background-color: #000;
    width: 36px;
    height: 36px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
    &.red {
      background-color: #cc000e;
    }
    &.zero {
      background-color: #8bc34a;
    }
  }

  &-wheel {
    transform: scale(0.9);

    &-plate::after {
      border: 6px solid #ddd;
      box-shadow: inset 0px 0px 0px 2px #aaa, 0px 0px 0px 2px #ddd;
    }

    &-bet-number {
      border-top-color: #cc000e;

      &:nth-child(19),
      &:nth-child(38) {
        border-top-color: #8bc34a;
      }
    }

    &-inner[data-spinToIndex]::before {
      transition: transform 3s ease-out !important;
    }
  }

  &-table {
    margin: 80px 0;

    &-container {
      transform: rotate(90deg);
      display: flex;
      flex-direction: column;

      &-first {
        order: 1;
        height: 220px;

        .zero-item {
          background-color: #8bc34a;
          font-size: 14px;
          height: calc(100% / 2);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;

          &:hover,
          &.item-hover {
            background-color: lighten(#8bc34a, 30%) !important;
          }
        }

        .red-item,
        .black-item {
          border: 2px solid #DDD;
          font-size: 14px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: calc(100% / 3);
        }

        .red-item {

          &:hover,
          &.item-hover {
            background-color: lighten(#cc000e, 30%) !important;
          }
        }

        .black-item {

          &:hover,
          &.item-hover {
            background-color: lighten(#000000, 30%) !important;
          }
        }

        .column-item {
          border: 2px solid #DDD;
          background: #EFEFEF;
          color: #000;
          font-size: 14px;
          height: calc(100% / 3);
        }

        .split-up-bet-catcher-top {
          top: -4px;
        }
      }

      &-second {
        order: 0;
        height: 40px;

        .doz-item {
          border: 2px solid #DDD;
          background: #EFEFEF;
          color: #000;
          font-size: 14px;
        }
      }

      &-third {
        order: 1;

        .outside-section {
          height: 40px;
          border: 2px solid #DDD;
          background: #EFEFEF;
          color: #000;
          font-size: 14px;
        }

        .rhomb-red,
        .rhomb-black {
          width: 20px;
          height: 20px;
        }
      }
    }

    .chip {
      width: 30px;
      height: 30px;
      transform: rotate(-90deg);
    }
  }

  &-chip {
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      width: 36px;
      height: 36px;
      border-radius: 36px;
      background-color: rgba(0, 0, 0, 0.3);
      margin: 0 4px;
      cursor: pointer;
      
      &:hover, &.selected {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}

.limbo {
  width: 100%;
  padding-bottom: 100%;
  background: url(/limbo_bg.png);
  background-size: auto 100%;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &-result {
    position: absolute;
    top: 50px;
    font-weight: 600;
    font-size: 55px;
    text-align: center;
    width: 100%;
    margin-bottom: 0 !important;
    color: #fff;

    &.win {
      color: #4caf50;
    }

    &.loss {
      color: #f44336;
    }
  }

  &-explode {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 200px;
    opacity: 0;
    background-repeat: no-repeat;
    background-image: url(/limbo_explosion.png);

    &.active {
      animation: limboRocketExplode .5s .3s steps(1);
    }
  }

  &-rocket {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 50px;
    height: 100px;
    transition: bottom .3s ease-in;

    &.fly {
      animation: limboRocketFly .5s linear;
    }

    &-wrap {
      animation: limboRocketShake 1s linear infinite;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &-body {
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(/limbo_rocket.png);
    }

    &-tail {
      width: 50px;
      height: 100px;
      margin-top: -34px;
      background-repeat: no-repeat;
      background-image: url(/limbo_fire.png);
      animation: limboRocketTail .7s steps(1) infinite;
    }
  }


  &-meteor {

    @for $i from 1 through 15 {
      &-#{$i} {
        top: randomMeteorTop()+px;
        left: randomMeteorLeft();
        animation-duration: randomMeteorDur()+s;
        position: absolute;
        width: 100px;
        height: 1px;
        transform: rotate(-45deg);
        background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        animation: limboMeteor linear infinite;
      }
    }
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

.not-allowed {
  cursor: not-allowed;
  pointer-events: none;
}