@import "../node_modules/antd/dist/reset.css";
@import './resource/scss/animate';
@import './resource/scss/fn';

html {
  scroll-behavior: smooth;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 12px;

  @media only screen and (min-width: 601px) {
    padding: 80px;
  }

  h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 48px
  }

  &-info {
    display: flex;
    justify-content: center;

    &-item {
      cursor: pointer;
      color: #999;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        margin-bottom: 2px;
      }
    }
  }
}

.modal {
  &-title {
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 24px;

    span {
      margin-right: 4px;
    }
  }

  &-content {

    ul,
    ol {
      padding-left: 16px;
    }

    &.form {
      .ant-form-item-control-input-content {
        padding: 0 !important;
      }

      .ant-input-group-wrapper,
      .ant-input-group {
        height: 100%;
      }

      .ant-input-group-addon {
        background-color: #EEE;
        border: none;
        border-right: 1px solid #D5D5D5;
      }

      .ant-input {
        padding: 4px 12px;
      }
    }
  }
}

.card {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

  .ant-card-body {
    padding: 16px
  }
}

.form .form-group-radio .ant-form-item.disabled .ant-form-item-control-input-content,
.form .form-group-radio .ant-form-item.disabled .ant-input-outlined {

  background-color: transparent !important;
}

.form {
  &-group {
    padding: 8px 16px 16px;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px;

    &.not-input {
      .ant-radio-wrapper {
        width: 100%;
        justify-content: flex-start;

        span {
          display: flex;
          align-items: center;
        }

        .radio-input {
          border: 1px solid #CCC;
          border-radius: 4px;
          height: 44px;
          padding: 4px 12px;
          margin-left: 12px;
          width: 100px;
          background: #FFF;
        }
      }

      .ant-form-item {
        &-control-input {
          height: auto;

          &-content {
            background-color: transparent;
            border: none;
            padding: 4px 0;
          }
        }
      }
    }

    &-radio {

      .ant-form-item-control-input-content {
        background-color: transparent !important;
        border: none !important;
        padding: 4px 0 !important;
      }

      .ant-radio-wrapper {
        justify-content: flex-start;
      }
    }
  }



  .ant-form-item {
    margin: 0;

    &.disabled {

      .ant-form-item-control-input-content,
      .ant-input-outlined {
        cursor: not-allowed;
        background-color: #ebebe4 !important;
      }

      .ant-input-disabled {
        background-color: transparent;
        color: #000;
      }
    }

    .btn {
      min-height: auto !important;
      min-width: auto !important;
      height: 44px;
      border-radius: 0;
      position: relative;

      &::after {
        content: '';
        height: calc(100% - 16px);
        width: 1px;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        margin: auto;
        z-index: 999;
      }

      &:last-child::after {
        display: none;
      }

      &-group {
        margin-right: -12px;
        z-index: 99;
      }
    }

    &-label {
      padding: 0 0 4px !important;
    }

    &-control-input {
      height: 44px;

      &-content {
        height: 100%;
        border: 1px solid #CCC;
        padding: 4px 12px;
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;

        &:hover {
          border-color: #03a9f4;
        }

        .ant-space-compact {
          align-items: center;
          height: 100%;
        }

        .ant-input-affix-wrapper {
          padding: 0;
          border: none;
          height: 100%;

          &:focus-within {
            outline: none;
            box-shadow: none
          }

          input {
            padding: 0 4px;
          }
        }
      }
    }

    label {
      color: #4caf50 !important;
      font-size: 14px;
    }

    input {
      height: 100%;
      border: none;
      padding: 0;

      &:focus {
        outline: none;
        box-shadow: none
      }
    }

    .ant-select {
      &-selector {
        padding: 0;
        border: none !important;
        box-shadow: none !important;
        background-color: transparent;

        &:focus {
          outline: none;
          box-shadow: none
        }
      }

      &-selection-item {
        padding-inline-end: 12px !important;
      }

      &-arrow {
        right: -4px;
      }
    }

    .select-icon {
      margin-left: 12px;
    }
  }

  .ant-checkbox {
    &-inner {
      width: 20px;
      height: 20px;
    }
  }
}

.ant-image {
  display: flex;
}

.ant-radio {
  &-group {
    width: 100%;
    display: flex;
  }

  &-wrapper {
    width: calc(100%/3);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-inner {
    width: 24px !important;
    height: 24px !important;

    &::after {
      display: none !important;
    }
  }

  &-checked {

    &::after {
      top: 0;
      left: 2px;
      width: 7px !important;
      height: 10px !important;
      border: solid 2px #fff !important;
      border-left: none !important;
      border-top: none !important;
      transform: translate(8px, 4.5px) rotate(45deg) !important;
      visibility: visible !important;
      opacity: 1 !important;
      background-color: transparent !important;
      border-radius: 0 !important;
    }
  }
}

.history {
  width: 100% !important;
  .ant-tabs {
    &-nav-wrap {
      justify-content: center
    }

    &-content-holder {
      width: 100%;
      overflow-x: scroll;
      @media only screen and (min-width: 601px) {
        overflow-x: visible;
      }
    }

    &-tab {
      padding: 12px 20px;

      &-btn {
        font-weight: 700;
        letter-spacing: .5px;
      }
    }
  }

  &-table {
    th {
      color: #fff !important;
      background-color: #03a9f4 !important;
      text-align: center !important;

      &::before {
        display: none !important
      }
    }

    td {
      text-align: center !important;
    }

    &-game {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 4px
      }
    }

    &-multiplier {
      color: #03a9f4 !important;
    }

    &-positive {
      color: #38cb74 !important
    }

    &-negative {
      color: #ff5722 !important
    }
  }
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 100px;
  border: 1px solid #DDD;
  height: 50px;
  margin-top: 18px;

  &-min-max {
    width: 50px;
    text-align: center;
    font-size: 12px;
  }

  &-slider {
    width: 100%;
  }

  &-reverse {
    .ant-slider-rail {
      background-color: #4caf50 !important;

      &:hover {
        background-color: darken(#4caf50, 5%) !important;
      }
    }

    .ant-slider-track {
      background-color: #f44336 !important;

      &:hover {
        background-color: darken(#f44336, 5%) !important;
      }
    }
  }

  &-result {
    color: #fff;
    width: 60px;
    font-weight: 500;
    height: 36px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
    position: relative;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    &.win {
      background-color: #8bc34a;

      &::after {
        border-top: 10px solid #8bc34a;
      }
    }

    &.loss {
      background-color: #ff9800;

      &::after {
        border-top: 10px solid #ff9800;
      }
    }
  }

  .ant-slider {
    margin: 12px 0 !important;

    &:hover {
      .ant-slider-rail {
        background-color: #f44336;
      }

      .ant-slider-track {
        background-color: #4caf50;
      }
    }
  }

  .ant-slider-mark-text {
    transition: .15s all ease;
    top: -7px;
  }

  .ant-slider-horizontal,
  .ant-slider-rail,
  .ant-slider-track,
  .ant-slider-step {
    height: 10px;
  }

  .ant-slider-horizontal {
    padding-block: 0;
  }

  .ant-slider-step {
    top: -0.5px;
  }

  .ant-slider-track-draggable {
    transform: translateY(-2.5px);
  }

  .ant-slider-rail {
    background-color: #f44336;
    border-radius: 5px;

    &:hover {
      background-color: darken(#f44336, 5%) !important;
    }
  }

  .ant-slider-dot {
    display: none;
  }

  .ant-slider-track {
    background-color: #4caf50;

    &:hover {
      background-color: darken(#4caf50, 5%) !important;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 30px;
      height: 24px;
      background: url(/slider-button.png) no-repeat #FFF;
      background-position: center;
      background-size: 70%;
      border: 1px solid #EFEFEF;
    }
  }

  .ant-slider-handle {
    width: 34px;
    height: 34px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: url(/slider-arrow.svg) no-repeat #FFF;
    background-position: center;
    background-size: 50%;
    border: 1px solid #EFEFEF;
    cursor: col-resize;

    &::before,
    &::after {
      display: none;
    }

    &-2 {
      transform: rotate(180deg) translateX(50%) !important;
    }
  }

}

@import './resource/scss/btn';
@import './resource/scss/games';